/* Import
----------------------------------------------------------------------------------------*/
/* Variables
----------------------------------------------------------------------------------------*/
/* font */
/* color */
/* Alias
----------------------------------------------------------------------------------------*/
/* Mixins
----------------------------------------------------------------------------------------*/
/* html
----------------------------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none; }

html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

body {
  font: normal 12px arial, serif;
  line-height: 1.4;
  color: #494949; }

input, textarea, select {
  font: normal 12px arial, serif;
  line-height: 1;
  color: #494949; }

.ie9 input[type="text"], .ie9 input[type="password"], .ie9 textarea, .ie9 select {
  min-height: 23px; }

.ie7 input[type="text"], .ie7 input[type="password"], .ie7 textarea, .ie7 select, .ie8 input[type="text"], .ie8 input[type="password"], .ie8 textarea, .ie8 select {
  min-height: 1.25; }

input[type="text"], input[type="password"], textarea, select, button, .button {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0; }

input[type="text"], input[type="password"], button, .button {
  -webkit-appearance: none; }

img {
  max-width: 100%;
  line-height: 0; }

a img {
  border: none; }

p, table, dl, fieldset {
  margin: 0 0 10px 0; }

h1, .h1 {
  margin: 15px 0 10px 0;
  font-family: candara, arial, sans-serif;
  font-weight: normal;
  font-size: 22px;
  font-style: italic;
  color: #6d6d6d;
  letter-spacing: 2px; }

h2, .h2 {
  margin: 25px 0 10px 0;
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 1px; }

* h2:first-child, * .h2:first-child {
  margin: 0 0 10px 0; }

h3, .h3 {
  margin: 20px 0 0 0;
  font-family: candara, arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px; }

a {
  color: #e00d4d;
  text-decoration: none; }

a:hover, a:active, a:focus {
  color: #c90c45;
  text-decoration: underline; }

table {
  width: 100%;
  border-collapse: collapse; }

th, td {
  padding: 5px 8px;
  text-align: left;
  vertical-align: top; }

thead th {
  padding: 3px 8px;
  border-bottom: 2px solid #e00d4d; }

tbody th, td {
  border-top: 1px solid #e7e7e7; }

tr td:first-child, tr th:first-child {
  /*padding: 5px 8px 5px 0;*/ }

dt {
  float: left;
  margin: 0 5px 0 0; }

fieldset {
  padding: 5px 10px;
  border: 1px solid #e7e7e7; }

legend {
  padding: 0 5px;
  line-height: 1; }

address {
  font-style: normal; }

hr, .hr {
  height: 1px;
  margin: 10px 0;
  border-top: #e7e7e7;
  background: #e7e7e7;
  color: #e7e7e7; }

.ie button, .ie .button {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

::-moz-selection {
  background: #e00d4d;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #e00d4d;
  color: #fff;
  text-shadow: none; }

::-webkit-input-placeholder {
  line-height: 1.4;
  color: #a2a2a2; }

::-moz-placeholder {
  line-height: 1.4;
  color: #a2a2a2; }

:-ms-input-placeholder {
  line-height: 1.4;
  color: #a2a2a2; }

input:-moz-placeholder {
  line-height: 1.4;
  color: #a2a2a2; }

article, aside, footer, header, hgroup, nav, section {
  display: block; }

nav li {
  padding: 0;
  background: none; }

nav a:hover, nav a:focus, nav a:active {
  text-decoration: none; }

/* clearfix
----------------------------------------------------------------------------------------*/
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/* verschiedenen Klassen
----------------------------------------------------------------------------------------*/
.hide {
  display: none; }

.text-center {
  text-align: center; }

.noborder {
  border: none; }

.nowrap {
  white-space: nowrap; }

.text-pink {
  color: #e00d4d; }

.text-green {
  color: #39cc12; }

.text-grey {
  color: #e7e7e7; }

.text-small {
  font-size: 90%; }

.text-inline {
  margin: 0; }

/* fluid-grid
----------------------------------------------------------------------------------------*/
.fluid-grid {
  margin: 0 0 0 -25px;
  *zoom: 1; }

.fluid-grid.fixed-grid {
  margin: 0; }

.fluid-grid:before, .fluid-grid:after {
  display: table;
  content: '';
  line-height: 0; }

.fluid-grid:after {
  clear: both; }

.grid {
  display: block;
  width: 100%;
  min-height: 10px;
  float: left; }

.grid-inner, .form-item.grid-inner {
  margin-left: 25px; }

.grid-25 {
  width: 25%;
  *width: 24.791666666666668%; }

.grid-30 {
  width: 30%;
  *width: 29.791666666666664%; }

.grid-33 {
  width: 33.33333333333333%;
  *width: 33.05555555555555%; }

.grid-35 {
  width: 35%;
  *width: 34.79166666666667%; }

.grid-40 {
  width: 40%;
  *width: 39.791666666666664%; }

.grid-45 {
  width: 45%;
  *width: 44.79166666666667%; }

.grid-50 {
  width: 50%;
  *width: 49.791666666666664%; }

.grid-55 {
  width: 55%;
  *width: 54.79166666666667%; }

.grid-60 {
  width: 60%;
  *width: 59.791666666666664%; }

.grid-66 {
  width: 66.66666666666666%;
  *width: 66.38888888888889%; }

.grid-75 {
  width: 75%;
  *width: 74.79166666666667%; }

.grid-100 {
  width: 100%;
  *width: 99.79166666666667%; }

.border-grid {
  margin: 0 0 0 -65px; }

.border-grid .grid-inner {
  padding: 0 0 0 32px;
  margin: 0 0 0 32px;
  border-left: 1px solid transparent; }

.border-grid .grid:first-child .grid-inner {
  border-color: transparent; }

.border-grid-grey .grid-inner {
  border-left: 1px solid #f9f9f9; }

/* form
----------------------------------------------------------------------------------------*/
input[type="text"], input[type="password"], textarea {
  width: 450px;
  padding: 3px 8px;
  border: 1px solid #ccc; }

select {
  width: 468px;
  height: 22px;
  padding: 0 0 0 4px;
  border: 1px solid #ccc; }

.grid-inner > .form-field input[type="text"], .grid-inner > .form-field input[type="password"], .grid-inner > .form-field textarea, .grid-inner > .form-field select, .form-grid input[type="text"], .form-grid input[type="password"], .form-grid textarea, .form-grid select, .grid-inner > form input[type="text"], .grid-inner > form input[type="password"], .grid-inner > form textarea, .grid-inner > form select, td input[type="text"], td input[type="password"], td textarea, td select {
  width: 100%;
  box-sizing: border-box; }

input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
  border: 1px solid #494949;
  outline: 0; }
input[type="text"].form-field-error, input[type="password"].form-field-error, textarea.form-field-error, select.form-field-error {
  border: 1px solid #ffba00;
  color: #101010; }

.form-item {
  margin: 0 0 10px 0; }

.form-item .form-item {
  margin-bottom: 0; }

.form-label {
  padding: 0 0 4px 1px; }

.form-label label {
  font-weight: normal; }

.form-required {
  color: #e00d4d; }

.form-field {
  position: relative; }

/* button
----------------------------------------------------------------------------------------*/
.form-actions {
  margin: 0 0 10px 0; }
.form-actions button, .form-actions .button {
  margin: 0 5px 0 0;
  vertical-align: middle; }

.form-actions-right {
  text-align: right; }
.form-actions-right button, .form-actions-right .button {
  margin: 0 0 0 5px; }

button, .button {
  margin: 0;
  padding: 7px 15px;
  border: 0;
  background: #e7e7e7;
  font-weight: normal;
  color: #101010;
  line-height: 1;
  vertical-align: top;
  cursor: pointer; }
button:hover, button:focus, button:active, .button:hover, .button:focus, .button:active {
  background-color: #c1c1c1;
  color: white;
  text-decoration: none; }

a.button {
  display: inline-block; }

.button-submit {
  background-color: #e00d4d;
  color: white; }

.button-submit:hover, .button-submit:focus {
  background-color: #c90c45; }

.button-small {
  padding: 5px 9px; }

.button-large {
  padding: 12px 16px;
  font-size: 15px;
  letter-spacing: 1px; }

/* button icon
----------------------------------------------------------------------------------------*/
.button-icon {
  width: 26px;
  height: 26px;
  display: inline-block;
  padding: 0;
  background: #e00d4d url(/images/icons.png) no-repeat 0 0; }

.ie .button-icon {
  width: 26px; }

.button-icon:hover, .button-icon:focus {
  background-color: #c90c45; }

.button-icon-basket {
  background-image: url(/images/icons/basket.png);
  background-position: 6px 9px; }

.button-icon-arrow {
  background-image: url(/images/arrow.png);
  background-position: 8px 0; }

.button-icon-arrow-white-right {
  background-position: 8px -491px; }

.button-icon-pencil {
  background-image: url(/images/sprites/icon-pencil.png); }

/* form-inline
----------------------------------------------------------------------------------------*/
.form-inline input, .form-inline textarea, .form-inline select, .form-inline button, .form-inline .button {
  margin: 0; }
.form-inline .form-item, .form-inline .form-field, .form-inline .form-actions {
  margin: 0 1px 0 0;
  float: left; }
.form-inline .form-radio, .form-inline .form-checkbox {
  margin: 0 10px 0 0; }
.form-inline .form-label {
  display: none; }
.form-inline button, .form-inline .button {
  min-height: 23px;
  padding: 5px 15px; }
.form-inline .button-icon {
  min-height: 0;
  padding: 0; }

/* Pingz
----------------------------------------------------------------------------------------*/
/* pretty-checkbox | pretty-radio
----------------------------------------------------------------------------------------*/
.pretty-radio-placeholder, .pretty-checkbox-placeholder, .pretty-checkbox-dummy-placeholder {
  width: 9px;
  height: 9px;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 8px 0 0;
  border: 1px solid #bbbbbb; }

.ie7 .pretty-radio-placeholder, .ie7 .pretty-checkbox-placeholder, .ie7 .pretty-checkbox-dummy-placeholder {
  position: relative;
  top: -2px; }

.pretty-radio.checked .pretty-radio-placeholder, .pretty-checkbox.checked .pretty-checkbox-placeholder, .pretty-checkbox-dummy.checked .pretty-checkbox-dummy-placeholder {
  border: 0;
  background: #e00d4d; }

.pretty-checkbox:hover .pretty-checkbox-placeholder, .pretty-checkbox:hover .pretty-checkbox-placeholder, .pretty-checkbox-dummy:hover .pretty-checkbox-dummy-placeholder {
  border-color: #e00d4d; }

/* messages
----------------------------------------------------------------------------------------*/
.message {
  margin: 0 0 20px;
  padding: 5px;
  background: #005da4;
  color: #fff; }

.message-error {
  background: #ffba00; }

.message-notice {
  background: #3a87ad; }

.message ul:last-child, .message p:last-child {
  margin: 0; }
.message p {
  padding: 0 10px; }

/* pagination
----------------------------------------------------------------------------------------*/
.pagination {
  text-align: right; }

.pagination li {
  display: inline-block;
  vertical-align: top; }
.pagination a {
  width: 27px;
  line-height: 27px;
  display: inline-block;
  background: #e7e7e7;
  text-align: center;
  color: #494949; }
.pagination a:hover, .pagination a:focus, .pagination a:active, .pagination .active {
  background-color: #e00d4d;
  color: white;
  text-decoration: none; }
.pagination .prev, .pagination .next {
  height: 27px;
  line-height: 0;
  background: #e7e7e7 url(/images/arrow.png) no-repeat 8px -990px; }
.pagination .prev:hover, .pagination .prev:focus, .pagination .prev:active {
  background-position: 8px -590px; }
.pagination .next {
  background-position: 8px -890px; }
.pagination .next:hover, .pagination .next:focus, .pagination .next:active {
  background-position: 8px -490px; }
.pagination .prev span, .pagination .next span {
  display: none; }

/* lists
----------------------------------------------------------------------------------------*/
.ul-default {
  margin: 0 0 10px 0; }

.ul-default li {
  padding: 0 0 0 14px;
  background: url(/images/arrow.png) no-repeat 1px -95px; }

.ul-gap li {
  margin: 0 0 10px 0; }

.dl-block dt {
  width: 125px;
  margin: 0 0 3px; }
.dl-block dd {
  margin: 0 0 3px 130px; }

dd.dd-margined {
  margin: 0 0 15px 0; }

/* tooltip arrow
----------------------------------------------------------------------------------------*/
.parsley-error-container .arrow, .ui-tooltip .arrow, #basket-new-article-notice .arrow {
  width: 9px;
  height: 9px;
  overflow: hidden;
  position: absolute;
  top: 8px;
  margin: 0 0 0 -17px;
  padding: 0;
  background: none; }
.parsley-error-container .arrow:after, .ui-tooltip .arrow:after, #basket-new-article-notice .arrow:after {
  content: "";
  position: absolute;
  left: 6px;
  width: 9px;
  height: 9px;
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.ie7 .parsley-error-container .arrow, .ie7 .ui-tooltip .arrow, .ie8 .parsley-error-container .arrow, .ie8 .ui-tooltip .arrow {
  display: none; }

/* ui-dialog
----------------------------------------------------------------------------------------*/
.modal {
  display: none; }

.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: white;
  opacity: 0.2;
  filter: Alpha(Opacity=20); }

.ui-dialog {
  z-index: 105;
  border: 3px solid #e7e7e7;
  background: white; }

.ui-dialog-titlebar {
  position: relative;
  line-height: 0; }
.ui-dialog-titlebar button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 16px;
  height: 16px;
  padding: 0;
  background: url(/images/icons/close.png) no-repeat 5px 3px; }
.ui-dialog-titlebar button:hover {
  background-position: 5px -47px; }
.ui-dialog-titlebar .ui-button-text {
  display: none; }

.ui-dialog-content {
  padding: 25px; }

/* parsley
----------------------------------------------------------------------------------------*/
.parsley-error-container {
  position: absolute;
  top: -2px;
  left: 485px;
  z-index: 100;
  max-width: 200px;
  padding: 3px 8px;
  border: 1px solid white;
  background: #ffba00;
  font-size: 11px;
  color: white; }

.parsley-error-container .arrow:after {
  border: 1px solid white;
  background: #ffba00; }

.grid-inner > .form-field > .parsley-error-container, .form-grid .parsley-error-container, .grid-inner > form .parsley-error-container {
  left: inherit;
  right: -195px;
  max-width: 165px;
  min-width: 165px; }

/* carousel
----------------------------------------------------------------------------------------*/
.carousel {
  position: relative;
  overflow: hidden; }
.carousel ul {
  width: 10000px;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0; }
.carousel li {
  float: left; }

.carousel-control-prev,
.carousel-control-next {
  position: absolute; }

.carousel-control-prev {
  left: 0; }

.carousel-control-next {
  right: 0; }

.carousel-control-prev span,
.carousel-control-next span {
  display: none; }

/* layout
----------------------------------------------------------------------------------------*/
#page {
  max-width: 1020px;
  width: 100%;
  margin: 15px 25px 25px 25px; }

#header {
  position: relative;
  margin: 0 0 20px 0;
  padding: 40px 0 0 0; }

#body {
  padding: 15px 0 35px 0; }

#body-sidebar {
  float: left;
  width: 18%;
  *width: 17.875%; }

#body-inner {
  float: left;
  width: 76.75%;
  *width: 76.625%;
  margin-left: 5.25%;
  *margin-left: 5.125%; }

#body-header {
  margin: 0 0 35px 23.25%;
  border: 0; }
#body-header h1, #body-header .h1 {
  margin: 15px 0 10px 0;
  color: #6d6d6d; }

.widescreen #body-header {
  margin: 0 0 35px 0; }

/* logo
----------------------------------------------------------------------------------------*/
#logo a {
  width: 51px;
  height: 51px;
  float: left;
  border: 0;
  background: url(/images/logo.png) no-repeat 0 0; }
#logo img {
  display: none; }

/* headmenu
----------------------------------------------------------------------------------------*/
#headmenu {
  position: absolute;
  top: -9px;
  right: 0;
  font-size: 11px;
  line-height: 1; }
#headmenu li {
  padding: 9px 0 0 0;
  float: left; }
#headmenu a, #headmenu span.dropdown-trigger {
  display: block;
  padding: 0 8px;
  border: 0;
  border-left: 1px solid #dedede;
  color: #464646;
  cursor: pointer; }
#headmenu li:first-child a {
  padding: 0 8px 0 0;
  border: 0; }
#headmenu li:last-child a {
  padding: 0 0 0 8px; }
#headmenu a:hover, #headmenu a:active, #headmenu a:focus {
  color: #e00d4d; }
#headmenu span.dropdown-trigger {
  color: #777; }
#headmenu strong {
  color: #464646; }

/* mainmenu
----------------------------------------------------------------------------------------*/
#mainmenu {
  padding: 25px 0 0 0; }
#mainmenu li {
  float: left;
  margin: 0 12px;
  background: #fff;
  border: 1px solid #fff; }
#mainmenu a {
  display: block;
  padding: 4px 8px 0 8px;
  border: 0;
  color: #494949;
  font-size: 14px;
  letter-spacing: 1px; }
#mainmenu a:hover {
  color: #101010; }

/* breadcrumb
----------------------------------------------------------------------------------------*/
#breadcrumb {
  margin: 0 0 10px 0;
  color: #6d6d6d;
  line-height: 1; }
#breadcrumb #breadcrumb-title, #breadcrumb ul, #breadcrumb li {
  float: left; }
#breadcrumb li {
  padding: 0 14px 0 5px;
  background: url(/images/arrow.png) no-repeat right -99px; }
#breadcrumb li.last-child, #breadcrumb li.last-child a, #breadcrumb li.last-child strong {
  background: none;
  font-weight: normal;
  color: #101010; }
#breadcrumb li a {
  color: #6d6d6d;
  border: 0; }
#breadcrumb li a:hover, #breadcrumb li a:active, #breadcrumb li a:focus {
  color: #e00d4d;
  text-decoration: none; }

/* basket
----------------------------------------------------------------------------------------*/
#basket {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 205px; }

#basket-trigger {
  height: 35px;
  display: block;
  padding: 11px 15px 5px 15px;
  border: 0;
  background: #e00d4d url(/images/sprites/basket.png) no-repeat 162px 14px;
  color: #fff;
  line-height: 1;
  letter-spacing: 1px;
  text-decoration: none; }

#basket-trigger:hover, #basket-trigger:focus, #basket-trigger:active {
  background-color: #c90c45; }

#basket-title {
  padding: 0 0 4px 0;
  display: block;
  font-size: 14px;
  letter-spacing: 1px; }

#basket-status {
  font-size: 11px;
  color: #ffbbd0; }

#basket-status-price {
  padding: 0 0 0 13px;
  background: url(/images/sprites/basket-status-divider.png) no-repeat 5px 6px; }

#basket-new-article-notice {
  position: absolute;
  top: 0;
  right: 225px;
  max-width: 200px;
  max-height: 29px;
  padding: 11px 15px;
  background: #ffba00;
  color: white;
  white-space: nowrap; }

#basket-new-article-notice .notice-description {
  line-height: 1.2; }
#basket-new-article-notice .notice-article {
  font-family: candara, arial, sans-serif;
  font-size: 15px; }
#basket-new-article-notice .arrow {
  top: 22px;
  right: -9px;
  width: 10px;
  height: 10px; }
#basket-new-article-notice .arrow:after {
  left: -6px;
  width: 10px;
  height: 10px;
  background: #ffba00; }

/* footer-container
----------------------------------------------------------------------------------------*/
#footer-container {
  background-color: #e7e7e7; }
#footer-container .grid-inner {
  border-color: white; }
#footer-container h2, #footer-container .h2 {
  margin: 0 0 3px 0;
  font-size: 14px;
  font-weight: normal;
  color: #6d6d6d;
  letter-spacing: 1px; }

/* footer-sitemap
----------------------------------------------------------------------------------------*/
#footer-sitemap {
  padding: 15px; }

#footer-sitemap li {
  width: 31.3%;
  float: left;
  margin: 0 2% 0 0; }
#footer-sitemap li li {
  width: auto;
  float: none;
  margin: 0; }
#footer-sitemap a {
  display: block;
  color: #6d6d6d;
  border: 0; }
#footer-sitemap a:hover, #footer-sitemap a:active, #footer-sitemap a:focus {
  color: #494949; }
#footer-sitemap li a, #footer-sitemap li header, #footer-sitemap li strong {
  margin: 0 0 3px 0;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px; }
#footer-sitemap li li a {
  font-size: 11px;
  letter-spacing: 0; }

/* newsletter
----------------------------------------------------------------------------------------*/
#newsletter {
  padding: 15px 0; }

#newsletter input[type="text"], #newsletter input[type="password"] {
  width: 220px;
  line-height: 18px; }
#newsletter .button-icon {
  background-color: #bbbbbb; }
#newsletter .button-icon:hover, #newsletter .button-icon:focus {
  background-color: #e7e7e7; }
#newsletter ::-webkit-input-placeholder {
  line-height: 18px;
  color: #a2a2a2; }
#newsletter ::-moz-placeholder {
  line-height: 18px;
  color: #a2a2a2; }
#newsletter :-ms-input-placeholder {
  line-height: 18px;
  color: #a2a2a2; }
#newsletter input:-moz-placeholder {
  line-height: 18px;
  color: #a2a2a2; }

.ie7 #newsletter .form-field {
  position: relative;
  top: -1px; }

.ie7 #newsletter input[type="text"], .ie7 #newsletter input[type="password"], .ie8 #newsletter input[type="text"], .ie8 #newsletter input[type="password"], .ie9 #newsletter input[type="text"], .ie9 #newsletter input[type="password"] {
  min-height: 18px; }

/* social-links
----------------------------------------------------------------------------------------*/
#social-links {
  padding: 10px 0 15px 0; }
#social-links li {
  float: left; }
#social-links a {
  width: 32px;
  height: 32px;
  float: left;
  margin: 0 5px 0 0;
  background: url(/images/sociallinks.png) no-repeat 0 0; }
#social-links span {
  display: none; }
#social-links #social-links-facebook {
  background-position: 0 0; }
#social-links #social-links-facebook:hover {
  background-position: -32px 0; }
#social-links #social-links-googleplus {
  background-position: 0 -32px; }
#social-links #social-links-googleplus:hover {
  background-position: -32px -32px; }
#social-links #social-links-pinterest {
  background-position: 0 -64px; }
#social-links #social-links-pinterest:hover {
  background-position: -32px -64px; }

/* footer-final
----------------------------------------------------------------------------------------*/
#footer-final {
  padding: 10px 0 0 1px;
  font-size: 11px;
  line-height: 1; }

#copyright {
  float: left;
  color: #777; }
#copyright strong {
  color: #464646; }

/* footmenu
----------------------------------------------------------------------------------------*/
#footmenu {
  padding: 0 0 0 8px;
  float: left; }
#footmenu li {
  float: left; }
#footmenu a {
  display: block;
  padding: 0 8px;
  border: 0;
  border-left: 1px solid #dedede;
  color: #494949; }
#footmenu a:hover, #footmenu a:active, #footmenu a:focus {
  color: #101010; }

/* sidebar > container
----------------------------------------------------------------------------------------*/
.sidebar .container {
  padding: 30px 0 25px 0;
  border-top: 1px solid #e7e7e7; }
.sidebar .container:first-child, .sidebar .container.first-child {
  padding: 0 0 25px 0;
  border: 0; }
.sidebar .container header:first-child {
  margin: 0 0 10px 0; }
.sidebar .container ul {
  list-style-type: square; }
.sidebar .container ul li {
  margin: 0 0 1px 15px;
  padding: 0;
  list-style-type: square;
  background: none; }
.sidebar .container ul:last-child, .sidebar .container p:last-child {
  margin: 0; }
.sidebar .container-icon header span {
  display: block;
  margin: 0 0 0 40px;
  color: #6d6d6d; }
.sidebar .container-icon .icon {
  position: relative;
  top: -4px;
  width: 26px;
  height: 26px;
  float: left;
  margin: 0 5px 0 0;
  background: #e00d4d url(/images/sprites/icons-container.png) no-repeat 0 0;
  vertical-align: top; }
.sidebar .container-icon .icon-pink {
  background-color: #e00d4d; }
.sidebar .container-icon .icon-grey {
  background-color: #bbbbbb; }
.sidebar .container-icon .icon-check {
  background-position: 5px 7px; }
.sidebar .container-icon .icon-gift {
  background-position: 6px -95px; }
.sidebar .container-icon .icon-question {
  background-position: 8px -194px; }
.sidebar .container-icon .icon-scissors {
  background-position: 4px -295px; }
.sidebar .container-icon .icon-euro {
  background-position: 6px -394px; }
.sidebar .container-icon .icon-share {
  background-position: 7px -492px; }
.sidebar .container-share ul, .sidebar .container-share li {
  list-style: none; }
.sidebar .container-share ul li {
  margin: 0 3px 0 0;
  padding: 0;
  display: inline-block; }
.sidebar .container-share a {
  display: block;
  width: 35px;
  height: 25px;
  background: url(/images/social.png) no-repeat 0 0; }
.sidebar .container-share .facebook {
  background-color: #306199;
  background-position: 14px 5px; }
.sidebar .container-share .facebook:hover {
  background-color: #244872; }
.sidebar .container-share .google {
  background-color: #e93f2e;
  background-position: -88px 7px; }
.sidebar .container-share .google:hover {
  background-color: #ce2616; }
.sidebar .container-share .pinterest {
  background-color: #b81621;
  background-position: -189px 5px; }
.sidebar .container-share .pinterest:hover {
  background-color: #8a1119; }
.sidebar .container-share span {
  display: none; }

/* sidebar > sidebar-menu
----------------------------------------------------------------------------------------*/
.sidebar nav li {
  display: block;
  border-bottom: 1px solid #e7e7e7; }
.sidebar nav li:last-child {
  border: 0; }
.sidebar nav a {
  display: block;
  padding: 3px 3px 3px 10px;
  border-left: 2px solid transparent;
  color: #6d6d6d; }
.sidebar nav .active a {
  border-color: #bbbbbb;
  color: #494949; }
.sidebar nav a:hover, .sidebar nav a:focus, .sidebar nav a:active {
  border-color: #e00d4d;
  color: #494949; }

/* body-inner > container
----------------------------------------------------------------------------------------*/
#body-inner .container-bordered, #body-inner .container-pink {
  margin: 0 0 10px 0;
  padding: 15px; }
#body-inner .container-bordered p:last-child, #body-inner .container-pink p:last-child, #body-inner .container-pink ul:last-child {
  margin: 0; }
#body-inner .container-bordered {
  border: 2px solid #e7e7e7; }
#body-inner .container-pink {
  background: #e00d4d;
  color: #fff; }
#body-inner .container-pink .ul-default li {
  background-position: 0 -494px; }

/* text-image
----------------------------------------------------------------------------------------*/
.text-image-left {
  float: left;
  margin: 0 25px 25px 0; }

.text-image-right {
  float: right;
  margin: 5px 5px 15px 35px; }

/* call-to-action
----------------------------------------------------------------------------------------*/
.call-to-action {
  margin: 35px 0 0 0; }
.call-to-action a {
  display: inline-block;
  padding: 12px 38px;
  background: #e00d4d;
  font-family: candara, arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  color: white;
  letter-spacing: 1px; }
.call-to-action a:hover, .call-to-action a:focus, .call-to-action a:active {
  background: #c90c45;
  text-decoration: none; }
.call-to-action span {
  padding: 0 25px 0 0;
  background: url(/images/sprites/icon-call-to-action.png) no-repeat right 4px; }

/* teaser
----------------------------------------------------------------------------------------*/
#teaser {
  margin: 0 0 20px 0; }
#teaser li {
  position: relative;
  width: 100%;
  height: 285px;
  float: left;
  color: #fff;
  text-align: right;
  background: #e00d4d url(/images/teaser-grosse-waermekissen.jpg) no-repeat 0 0; }
#teaser h1, #teaser .h1 {
  font-size: 24px;
  letter-spacing: 4px;
  color: white; }
#teaser .teaser-inner {
  position: absolute;
  bottom: 20px;
  right: 20px;
  max-width: 415px; }
#teaser .teaser-call-to-action {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  line-height: 1; }
#teaser .teaser-call-to-action a {
  padding: 20px 38px;
  display: block;
  background: #ffba00;
  font-size: 20px;
  font-style: italic; }
#teaser .teaser-call-to-action a:hover, #teaser .teaser-call-to-action a:focus, #teaser .teaser-call-to-action a:active {
  background: #fcad00; }
#teaser .teaser-call-to-action span {
  background-position: right 6px; }

/* article-grid
----------------------------------------------------------------------------------------*/
.article-grid-outer {
  margin: 0 0 10px 0;
  padding: 20px;
  background: #f9f9f9;
  position: relative;
  z-index: 1; }

.ie7 .article-grid-outer {
  height: 100%; }

.article-grid {
  /*
  	.article-hover {
  		position: absolute;
  		top: 0; left: 0;
  		z-index: 3;
  		display: none;
  		padding: 20px;
  		background: $white;
  		border: 3px solid $grey-lighter;
  		text-align: center;
  	}
  */
  /*.article-properties, .article-actions {
  		display: none;
  	}
  */
  /*
  	.article-hover {
  		.article-properties, .article-actions {
  			display: block;
  		}
  	}
  */ }
  .article-grid .grid-inner {
    position: relative;
    margin-bottom: 25px;
    padding: 17px;
    border: 3px solid #f9f9f9;
    background: white;
    text-align: center; }
  .article-grid .grid-inner:hover {
    border: 3px solid #e7e7e7; }
  .article-grid .fluid-grid:last-child .grid-inner {
    margin-bottom: 0; }
  .article-grid li > a, .article-grid .grid-inner > a, .article-grid .article-hover > a {
    display: block;
    text-decoration: none;
    line-height: 1; }
  .article-grid .article-link-title, .article-grid .article-link-price {
    display: block;
    text-align: left; }
  .article-grid .article-link-image {
    line-height: 185px;
    max-height: 185px;
    display: block; }
  .article-grid .article-link-image img {
    vertical-align: middle; }
  .article-grid .article-link-title {
    margin: 0;
    padding: 15px 0 0 0;
    font-size: 15px;
    font-weight: normal;
    color: #6d6d6d; }
  .article-grid .article-link-price {
    font-family: candara, arial, sans-serif;
    font-size: 20px; }
  .article-grid .article-properties {
    padding: 30px 0 20px 0; }
  .article-grid .article-properties dl {
    text-align: left; }
  .article-grid .article-properties dt {
    width: 100px;
    margin: 0 0 5px 0; }
  .article-grid .article-properties dd {
    margin: 0 0 5px 105px; }
  .article-grid .article-actions {
    text-align: right; }
  .article-grid .article-xxl .article-link-image:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 65px;
    height: 65px;
    background: url(/images/sprites/article-xxl.png) no-repeat 0 0; }
  .article-grid .article-default {
    position: relative;
    min-height: 215px;
    background: #e00d4d;
    cursor: pointer; }
  .article-grid .article-default-data {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 10px 0 0;
    text-align: right;
    color: #fff; }
  .article-grid .article-default-data strong {
    font-family: candara, arial, sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-style: italic; }

.ie7 .article-grid .article-link-image, .ie7 .article-grid .article-link-image img {
  max-height: 185px; }
.ie7 .article-grid .article-link-image {
  height: 185px;
  display: inline; }

.ie8 .article-link-image:before {
  display: none; }

/* article-properties
----------------------------------------------------------------------------------------*/
#article-properties .fluid-grid:first-child {
  padding: 0 0 35px 0; }

#article-properties-image {
  text-align: center; }

#article-properties-image img {
  max-width: 100%; }

#article-properties-data {
  position: relative; }

#article-properties-data dl {
  padding: 0 0 100px 0; }

#article-properties-tobasket {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right; }

#article-properties-price {
  padding: 0 0 20px 0;
  font-family: candara, arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  font-style: italic;
  color: #e00d4d;
  line-height: 1; }

#article-properties-price .article-price-notify {
  top: -10px; }

#article-properties-tobasket-number {
  width: 70px;
  margin: 0 4px 0 0;
  padding: 14px 0;
  border: 1px solid #e7e7e7;
  font-size: 15px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1; }

#article-properties-tobasket-number:focus, #article-properties-tobasket-number:hover {
  border: 1px solid #bbbbbb; }

#article-properties-tobasket .button-large {
  padding: 16px 45px; }

.article-properties-delivery-time {
  position: relative;
  padding: 5px 0 0 0;
  font-size: 11px;
  color: #6d6d6d; }

.article-properties-delivery-time:before {
  width: 8px;
  height: 8px;
  display: inline-block;
  content: '';
  margin: 0 4px 0 0; }

#article-properties-delivery-time-ok:before {
  background: #39cc12; }

#article-properties-image-selection li {
  margin: 0 5px 0 0;
  padding: 10px;
  border: 1px solid transparent;
  text-align: center;
  line-height: 0; }
#article-properties-image-selection li.active {
  border: 1px solid #e7e7e7; }
#article-properties-image-selection li:hover {
  border: 1px solid #bbbbbb;
  cursor: pointer; }
#article-properties-image-selection img {
  width: 85px;
  max-width: 100%;
  line-height: 0; }

/* article-price-notify
----------------------------------------------------------------------------------------*/
.article-price-notify {
  position: relative;
  top: -3px;
  left: -1px;
  font: normal 12px arial, serif;
  line-height: 1;
  color: #494949;
  font-weight: bold; }

.article-price-notify-description {
  position: relative;
  padding: 2px 0 0 8px;
  font-size: 11px;
  color: #6d6d6d;
  line-height: 1.4; }

.article-price-notify-description-asterisk {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  font-weight: bold;
  color: #e00d4d; }

/* article-filter
----------------------------------------------------------------------------------------*/
#article-filter ul, #article-filter li {
  list-style: none; }
#article-filter li {
  margin: 0; }
#article-filter input {
  position: absolute;
  top: -9000px;
  left: -9000px;
  width: 0;
  height: 0; }
#article-filter label, #article-filter .article-filter-reset {
  color: #bbbbbb;
  cursor: pointer;
  text-decoration: none; }
#article-filter label:hover, #article-filter label.checked, #article-filter .article-filter-reset:hover, #article-filter .article-filter-reset:active, #article-filter .article-filter-reset:focus, #article-filter .article-filter-reset.checked {
  color: #101010; }

#article-filter-size li {
  line-height: 18px; }
#article-filter-size li:first-child {
  padding: 0 0 4px 0; }

#article-filter-colors {
  /*li.new-line {
  	clear: left;
  }	*/ }
  #article-filter-colors ul {
    padding: 5px 0 0 0; }
  #article-filter-colors li {
    width: 27px;
    float: left;
    margin: 0 3px 3px 0; }
  #article-filter-colors li label {
    height: 23px;
    display: block;
    border: 2px solid white;
    background: url(/images/article-colors.png) no-repeat 0 0; }
  #article-filter-colors li label:hover, #article-filter-colors li label.checked {
    border: 2px solid #bbbbbb; }
  #article-filter-colors li label .pretty-checkbox-placeholder {
    display: none; }
  #article-filter-colors #label-article-colors-1 {
    background-position: 0 0; }
  #article-filter-colors #label-article-colors-2 {
    background-position: -50px 0; }
  #article-filter-colors #label-article-colors-3 {
    background-position: -100px 0; }
  #article-filter-colors #label-article-colors-4 {
    background-position: -150px 0; }
  #article-filter-colors #label-article-colors-5 {
    background-position: -200px 0; }
  #article-filter-colors #label-article-colors-6 {
    background-position: -250px 0; }
  #article-filter-colors #label-article-colors-7 {
    background-position: -300px 0; }
  #article-filter-colors #label-article-colors-8 {
    background-position: -350px 0; }
  #article-filter-colors #label-article-colors-9 {
    background-position: 0 -50px; }
  #article-filter-colors #label-article-colors-10 {
    background-position: -50px -50px; }
  #article-filter-colors #label-article-colors-11 {
    background-position: -100px -50px; }
  #article-filter-colors #label-article-colors-12 {
    background-position: -150px -50px; }
  #article-filter-colors #label-article-colors-13 {
    background-position: -200px -50px; }
  #article-filter-colors #label-article-colors-14 {
    background-position: -250px -50px; }
  #article-filter-colors #label-article-colors-15 {
    background-position: -300px -50px; }
  #article-filter-colors #label-article-colors-16 {
    background-position: -350px -50px; }
  #article-filter-colors #label-article-colors-17 {
    background-position: 0 -100px; }
  #article-filter-colors #label-article-colors-18 {
    background-position: -50px -100px; }
  #article-filter-colors #label-article-colors-19 {
    background-position: -100px -100px; }
  #article-filter-colors #label-article-colors-20 {
    background-position: -150px -100px; }
  #article-filter-colors #label-article-colors-21 {
    background-position: -200px -100px; }
  #article-filter-colors #label-article-colors-22 {
    background-position: -250px -100px; }
  #article-filter-colors #label-article-colors-23 {
    background-position: -300px -100px; }
  #article-filter-colors #label-article-colors-24 {
    background-position: -350px -100px; }
  #article-filter-colors #label-article-colors-25 {
    background-position: 0 -150px; }
  #article-filter-colors #label-article-colors-26 {
    background-position: -50px -150px; }
  #article-filter-colors #label-article-colors-27 {
    background-position: -100px -150px; }
  #article-filter-colors #label-article-colors-28 {
    background-position: -150px -150px; }

/* article-frontpage-carousel
----------------------------------------------------------------------------------------*/
.article-frontpage-carousel {
  margin: 40px 0;
  padding: 0 35px;
  position: relative; }
.article-frontpage-carousel .article-link-image img {
  width: 180px; }
.article-frontpage-carousel .carousel {
  height: 250px; }
.article-frontpage-carousel .carousel li {
  width: 252px;
  margin: 0 0 0 30px;
  padding: 0 0 5px 0; }
.article-frontpage-carousel .carousel-control-prev,
.article-frontpage-carousel .carousel-control-next {
  top: 85px;
  width: 24px;
  height: 72px;
  background: url(/images/chevron.png) no-repeat 0 0; }
.article-frontpage-carousel .carousel-control-next {
  background-position: 0 -200px; }
.article-frontpage-carousel .carousel-control-prev:hover, .article-frontpage-carousel .carousel-control-prev:focus, .article-frontpage-carousel .carousel-control-prev:active {
  background-position: 0 -400px; }
.article-frontpage-carousel .carousel-control-next:hover, .article-frontpage-carousel .carousel-control-next:focus, .article-frontpage-carousel .carousel-control-next:active {
  background-position: 0 -600px; }

/* frontpage
----------------------------------------------------------------------------------------*/
#frontpage-container {
  margin: 35px 0 5px -65px;
  padding: 10px 0 0 0; }

#frontpage-container .grid-inner {
  border-color: #e7e7e7; }

#frontpage-faq a {
  color: #6d6d6d; }
#frontpage-faq a:hover, #frontpage-faq a:focus, #frontpage-faq a:active {
  color: #101010;
  text-decoration: none; }

/* checkout-steps
----------------------------------------------------------------------------------------*/
#checkout-steps {
  margin: 0 0 15px 0; }

#checkout-steps li {
  width: 20%;
  float: left;
  color: #e7e7e7; }
#checkout-steps .identifier {
  width: 20px;
  float: left;
  margin: 0 5px 0 0;
  background: #bbbbbb;
  line-height: 20px;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  color: #e7e7e7; }
#checkout-steps strong {
  font-weight: normal;
  color: #101010; }
#checkout-steps strong .identifier {
  background: #e00d4d;
  color: white; }
#checkout-steps a {
  color: #101010; }
#checkout-steps a .identifier {
  color: white; }
#checkout-steps a:hover, #checkout-steps a:focus, #checkout-steps a:active {
  text-decoration: none; }
#checkout-steps a:hover .identifier, #checkout-steps a:focus .identifier, #checkout-steps a:active .identifier {
  background: #e00d4d; }

/* checkout-form-actions
----------------------------------------------------------------------------------------*/
.checkout-form-actions {
  margin: 25px 0 0 0; }
.checkout-form-actions .button-prev {
  float: left; }
.checkout-form-actions .button-next {
  float: right;
  margin: 0; }

/* checkout-articles
----------------------------------------------------------------------------------------*/
#checkout-articles td {
  padding: 10px 8px; }

#checkout-articles tr td:first-child {
  padding: 10px 8px 10px 0; }

.checkout-article-checkbox {
  width: 1%;
  vertical-align: middle; }

.checkout-article-image img {
  width: 85px; }

.checkout-article-image {
  width: 14%; }

.checkout-article-title {
  width: 65%; }

td.checkout-article-title {
  font-weight: normal; }

.checkout-article-quantity {
  position: relative;
  width: 5%;
  text-align: center; }

.checkout-article-quantity :input-any {
  text-align: center; }

.checkout-article-quantity .parsley-error-container {
  width: 180px;
  max-width: inherit;
  top: 8px;
  left: 55px;
  text-align: left; }

.checkout-article-price {
  width: 15%;
  text-align: right; }

#checkout-articles .article-price-notify, #checkout-basket-summary .article-price-notify {
  left: 1px;
  margin: 0 -8px 0 0; }

#checkout-articles-price-notify {
  max-width: 100%;
  width: 700px;
  float: left; }

/* checkout-articles-footer (checkout-article-actions | checkout-basket-summary)
----------------------------------------------------------------------------------------*/
#checkout-articles-footer {
  padding: 10px 0 0 0;
  border-top: 1px solid #e7e7e7; }

#checkout-article-actions {
  float: left; }

#checkout-article-actions input[type="checkbox"] {
  position: relative;
  top: 4px; }
#checkout-article-actions .form-item, #checkout-article-actions :button {
  margin: 0 10px 0 0; }

#checkout-basket-summary {
  float: right; }
#checkout-basket-summary table {
  width: 300px; }
#checkout-basket-summary table tr:first-child th, #checkout-basket-summary table tr:first-child td {
  padding-top: 0;
  border: 0; }
#checkout-basket-summary td {
  text-align: right; }
#checkout-basket-summary table tr:last-child th, #checkout-basket-summary table tr:last-child td {
  border-top-width: 2px; }

/* checkout-addresses
----------------------------------------------------------------------------------------*/
.user-addresses-grid {
  margin: 0 0 25px -25px; }
.user-addresses-grid > .grid > .grid-inner {
  position: relative;
  padding: 15px;
  background: #f9f9f9; }
.user-addresses-grid > .grid > .grid-inner {
  margin: 15px 0 0 25px; }
.user-addresses-grid > .grid > .grid-inner:first-child {
  margin: 0 0 0 25px; }
.user-addresses-grid .grid-inner > .form-item:last-child {
  margin: 0; }
.user-addresses-grid .form-actions {
  min-height: 27px;
  margin: 0; }
.user-addresses-grid .form-actions :button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  margin: 0; }

#user-display-shippingaddress-form-item {
  margin: 2px 0 0 0;
  line-height: 1; }

#user-display-shippingaddress-form-item .form-label {
  margin: 3px 0 0 0; }

#user-shippingaddress-header {
  margin: -15px -15px 15px -15px;
  padding: 15px;
  background: #e7e7e7; }

/* checkout-payment
----------------------------------------------------------------------------------------*/
#checkout-payment .checkout-payment-outer {
  padding: 15px;
  background: #f9f9f9; }
#checkout-payment > .checkout-payment-outer:first-child {
  padding: 15px 15px 0 15px; }
#checkout-payment .checkout-payment-inner {
  padding: 15px;
  background: white; }

/* checkout-summary
----------------------------------------------------------------------------------------*/
#checkout-summary {
  padding: 15px;
  background: #f9f9f9; }
#checkout-summary li {
  margin: 15px 0 0 0;
  padding: 15px;
  background: white; }
#checkout-summary li:first-child, #checkout-summary .form-item:last-child {
  margin: 0; }
#checkout-summary .button-icon {
  position: relative;
  top: -2px;
  background-color: white;
  background-position: 2px 2px;
  vertical-align: top; }
#checkout-summary .button-icon:hover {
  background-position: 2px -98px; }

#checkout-confirm {
  min-height: 325px; }

#checkout-confirm .text-image-right {
  margin: 50px 100px 0 0; }

/* account-order-history
----------------------------------------------------------------------------------------*/
#account-order-history > ul > li {
  padding: 15px 0;
  border-top: 1px solid #e7e7e7; }
#account-order-history > ul > li:first-child {
  border: 0; }
#account-order-history .grid ul, #account-order-history .grid dl, #account-order-history .grid li:last-child {
  margin: 0; }
#account-order-history .datetime strong {
  margin: 0 0 8px 0;
  display: block;
  font-family: candara, arial, sans-serif;
  font-size: 26px;
  font-weight: normal; }
#account-order-history .data dt {
  margin: 0 5px 3px 0; }
#account-order-history .data dd {
  margin: 0 0 3px 0; }
#account-order-history .articles li {
  text-align: right; }
#account-order-history .articles a {
  float: left; }

/* ul-faq
----------------------------------------------------------------------------------------*/
.ul-faq li {
  margin: 0 0 35px 0; }
.ul-faq li h2:first-child {
  margin: 0 0 5px 0; }
.ul-faq li p:last-child {
  margin: 0; }

/* width 1024px
----------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
  #page {
    width: 960px;
    width: auto;
    margin: 0;
    border: 10px solid white; }

  #article-filter-material li.new-line {
    clear: none; } }
/* print
----------------------------------------------------------------------------------------*/
@media print {
  ul {
    list-style-type: square; }

  ul li {
    margin: 0 0 0 20px;
    padding: 0;
    list-style-type: square;
    background: none; }

  #page {
    margin: 10px;
    height: auto;
    background: none; } }
