/* fluid-grid
----------------------------------------------------------------------------------------*/
.fluid-grid {
  @include make-column-row();
}

.grid {
  @include make-column();
}

.grid-25 {
  width: 25%;
}

.grid-30 {
  width: 30%;
}

.grid-33 {
  width: 33.33333333333333%;
}

.grid-35 {
  width: 35%;
}

.grid-40 {
  width: 40%;
}

.grid-45 {
  width: 45%;
}

.grid-50 {
  width: 50%;
}

.grid-55 {
  width: 55%;
}

.grid-60 {
  width: 60%;
}

.grid-66 {
  width: 66.66666666666666%;
}

.grid-75 {
  width: 75%;
}

.grid-100 {
  width: 100%;
}