// -------------------------------------------------------------------------------------------------
// Clearfix
@mixin clearfix() {
  &:before,
  &:after {
    content: ''; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

// -------------------------------------------------------------------------------------------------
// Placeholder text
@mixin placeholder($line-height: 20px, $color: $grey-light) {
	&:-moz-placeholder {
		color: $color;
	} // Firefox 4-18

	&::-moz-placeholder {
		color: $color;
	} // Firefox 19+

	&:-ms-input-placeholder {
		color: $color;
	} // Internet Explorer 10+

	&::-webkit-input-placeholder {
		color: $color;
	} // Safari and Chrome
}

// -------------------------------------------------------------------------------------------------
// Box sizing
@mixin box-sizing($boxmodel) {
	-webkit-box-sizing: $boxmodel;
		 -moz-box-sizing: $boxmodel;
					box-sizing: $boxmodel;
}

// -------------------------------------------------------------------------------------------------
// Transition
@mixin transition($transition) {
	-webkit-transition: $transition; /* For Safari 3.1 to 6.0 */
	transition: $transition;
}

@mixin transition-all($duration: 0.3s, $delay: 0, $property: all) {
	-webkit-transition: $property $duration ease $delay; /* For Safari 3.1 to 6.0 */
	transition: $property $duration ease $delay;
}

@mixin transition-one($duration: 0.3s, $delay: 0, $property: all) {
	-webkit-transition: $property $duration ease $delay; /* For Safari 3.1 to 6.0 */
	transition: $property $duration ease $delay;
}

// -------------------------------------------------------------------------------------------------
// Opacity
@mixin opacity($opacity) {
	opacity: $opacity;
	// IE8 filter
	$opacity-ie: ($opacity * 100);
	filter: "alpha(opacity={$opacity-ie})";
}

// -------------------------------------------------------------------------------------------------
// Hyphens
@mixin hyphens($mode: auto) {
	word-wrap: break-word;
	-webkit-hyphens: $mode;
		 -moz-hyphens: $mode;
			-ms-hyphens: $mode; // IE10+
			 -o-hyphens: $mode;
					hyphens: $mode;
}

// -------------------------------------------------------------------------------------------------
// Rotate
@mixin rotate($deg) {
	-webkit-transform: rotate($deg);
			-ms-transform: rotate($deg);
					transform: rotate($deg);
}

// -------------------------------------------------------------------------------------------------
// Scale
@mixin scale($x: 1, $y: 1) {
	-webkit-transform: scale($x, $y);
			-ms-transform: scale($x, $y);
    			transform: scale($x, $y);
}


// -------------------------------------------------------------------------------------------------
// Border-Sizing
@mixin border-sizing($mode: border-box) {
	-webkit-box-sizing: $mode;
					box-sizing: $mode;
}

// -------------------------------------------------------------------------------------------------
// Grid
@mixin make-column-row($gutter: $grid-gutter-width) {
  margin-left: ($gutter / -2);
  margin-right: ($gutter / -2);
  @include clearfix();
}

@mixin make-column($gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  float: left;
  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);
  @include box-sizing(border-box);
}

@mixin make-column-width($column) {
	width: percentage($column / $grid-columns);
}

@mixin make-column-offset($column) {
	width: percentage($column / $grid-columns);
}

@mixin make-column-push($column) {
	left: percentage($column / $grid-columns);
}

@mixin make-column-pull($column) {
	right: percentage($column / $grid-columns);
}

@mixin clear-column {
	&.fluid-grid {
		margin-left: 0;
		margin-right: 0;
	}

	.grid {
		width: auto;
		float: none;
		padding-left: 0;
		padding-right: 0;
	}
}

// -------------------------------------------------------------------------------------------------
// fonts
@mixin font-default($font-size: 12px, $line-height: 20px) {
	font: normal $font-size $arial;
	line-height: $line-height;
  color: $grey-dark;
}

@mixin font-icon() {
  font-family: 'pingz' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  // line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}