/* html
----------------------------------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
	outline: none;
}

html {
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%; /* 2 */
	-ms-text-size-adjust: 100%; /* 2 */
}

body {
	@include font-default();
}

input, textarea, select {
	@include font-default(12px, 1);
}

.ie9 {
	#{$input-any} {
		min-height: 23px;
	}
}

.ie7, .ie8 {
	#{$input-any} {
		min-height: 1.25;
	}
}

#{$input-any}, #{$button} {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

#{$input-text}, #{$button} {
	-webkit-appearance: none;
}

img {
	max-width: 100%;
	line-height: 0;
}

a img {
  border: none;
}

p, table, dl, fieldset {
	margin: 0 0 10px 0;
}

#{$h1} {
	& {
		margin: 15px 0 10px 0;
		font-family: $candara;
		font-weight: normal;
		font-size: 32px;
		font-style: italic;
		color: $grey-darker;
		letter-spacing: 2px;
		line-height: 1.1;
	}

	.text-small {
		display: block;
		font-size: 17px;
		line-height: 1;
	}
}

#{$h2} {
	margin: 25px 0 10px 0;
	font-weight: normal;
	font-size: 15px;
	letter-spacing: 1px;
}

* {
	#{$h2} {
		&:first-child {
			margin: 0 0 10px 0;
		}
	}
}

#{$h3} {
	margin: 20px 0 0 0;
	font-family: $candara;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 1px;
}

a {
	color: $pink;
	text-decoration: none;
}

a:hover, a:active, a:focus {
	color: $darkpink;
	text-decoration: underline;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	padding: 5px 8px;
	text-align: left;
	vertical-align: top;
}

thead th {
	padding: 3px 8px;
	border-bottom: 2px solid $pink;
}

tbody th, td {
	border-top: 1px solid $grey-lighter;
}

tr td:first-child, tr th:first-child {
	/*padding: 5px 8px 5px 0;*/
}

dt {
	float: left;
	margin: 0 5px 0 0;
	// color: l-adjust($(grey-80) 15);
}

fieldset {
	padding: 5px 10px;
	border: 1px solid $grey-lighter;
}

legend {
	padding: 0 5px;
	line-height: 1;
}

address {
	font-style: normal;
}

hr, .hr {
  height: 1px;
	margin: 10px 0;
  border-top: $grey-lighter;
	background: $grey-lighter;
	color: $grey-lighter;
}

.ie {
	#{$button} {
		width: auto;
		overflow: visible;
	}
}

.ie7 img {
	-ms-interpolation-mode: bicubic;
}

::-moz-selection {
	background: $pink;
	color:#fff;
	text-shadow: none;
}

::selection {
	background: $pink;
	color:#fff;
	text-shadow: none;
}

::-webkit-input-placeholder {
	@include placeholder();
}

::-moz-placeholder {
	@include placeholder();
}

:-ms-input-placeholder {
	@include placeholder();
}

input:-moz-placeholder {
	@include placeholder();
}

article, aside, footer, header, hgroup, nav, section {
  display: block;
}

nav li {
	padding: 0;
	background: none;
}

nav a:hover, nav a:focus, nav a:active {
	text-decoration: none;
}

/* clearfix
----------------------------------------------------------------------------------------*/
.clearfix:before, .clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

/* verschiedenen Klassen
----------------------------------------------------------------------------------------*/
.hide {
	display: none;
}

.text-center {
  text-align: center;
}

.noborder {
  border: none;
}

.nowrap {
	white-space: nowrap;
}

.text-pink {
	color: $pink;
}

.text-green {
	color: $green;
}

.text-grey {
	color: $grey-darker;
}

.text-light {
	font-weight: normal;
}

.text-small {
	font-size: 90%;
}

.text-inline {
	margin: 0;
}