/* width 1060px
----------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1080px) {
	#page {
		width: auto;
		margin: 15px 10px;
		overflow: hidden;
	}

	.article-grid {
		.fluid-grid[data-columns]::before {
			content: '3 .grid.grid-33';
		}
	}

	#article-filter-material li.new-line {
		clear: none;
	}
}

/* width 981px
----------------------------------------------------------------------------------------*/
@media only screen and (min-width: 981px) {
	.article-grid {
		.fluid-grid[data-columns]::before {
			content: '3 .grid.grid-33';
		}
	}
}

/* width 980px
----------------------------------------------------------------------------------------*/
@media only screen and (max-width: 980px) {
	#{$h1}, #{$h2}, #{$h3} {
		@include hyphens();
	}

	#footer-sitemap a, #footer-sitemap span, #footer-sitemap strong {
		@include hyphens();
	}

	.article-grid {
		.fluid-grid[data-columns]::before {
			content: '2 .grid.grid-50';
		}
	}

	#article-properties-tobasket-form {
		.form-item {
			float: none;
			margin: 0 0 5px 0;
		}

		.form-actions {
			& {
				float: none;
			}

			#{$button} {
				width: 100%;
				@include box-sizing(border-box);
			}
		}
	}

	#article-properties-tobasket-number {
		width: 100%;
		@include box-sizing(border-box);
	}

	.magnifier, .cursorshade, .statusdiv, .tracker {
		display: none !important;
	}
}

/* width 768px
----------------------------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
	.form-field {
		#{$input-any} {
			width: 100%;
			@include box-sizing(border-box);
		}
	}

	#page {
		margin: 0;
	}

	#header {
		padding: 40px 10px 10px 10px;
	}

	#headmenu {
		top: 0; right: 10px;
		font-size: 12px;
	}

	#logo a {
		float: none;
		display: inline-block;
	}

	#mainmenu {
		& {
			padding: 10px 0 0 0;
		}

		li {
			&:first-child {
				& {
					margin-left: 0;
				}

				a {
					padding: 4px 8px 0 0;
				}
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	#basket {
		top: 40px; bottom: auto;
		right: 10px;
	}

	#body {
		margin: 0 10px;
	}

	#teaser {
		& {
			margin: 0 -10px 20px -10px;
		}

		li {
			background-size: cover;
		}

		.teaser-inner {
			position: relative;
			bottom: auto; right: auto;
			margin: 20px;
			padding: 0 0 100px 0;
			text-align: left;
			@include box-sizing(border-box);
		}
	}

	.grid-break-tablet {
		@include clear-column();
	}

	#body-header {
		& {
			margin: 0 0 35px 0;
			padding: 0;
		}

		#body-header-inner {
			margin: 0;
		}
	}

	#body-sidebar, #body-inner {
		left: 0;
	  width: auto;
	  float: none;
	}

	#body-sidebar {
		margin: 25px 0 0 0;
		padding: 25px 15px 0 15px;
		border-top: 5px solid $grey-lighter;
	}

	#footer-container {
		& {
			padding: 15px;
		}

		.background {
			display: none;
		}

		#footer-sitemap {
			& {
				padding: 0;
			}

			li li a {
				font-size: 12px;
			}
		}

		#newsletter {
			padding: 0 0 15px 0;
		}

		#social-links {
			padding: 0;
		}
	}

	#footer-final {
		padding: 15px;
		font-size: 12px;
	}

	#frontpage-container {
		.background {
			display: none;
		}

		#article-frontpage-carousel .grid-inner {
			margin: 0;
		}

		#frontpage-faq .grid-inner {
			padding: 0;
		}
	}

	#article-properties-image-selection {
		padding: 0 15px;
	}

	.ui-dialog {
		max-width: 98%;
		@include box-sizing(border-box);
	}
}

/* width 620px
----------------------------------------------------------------------------------------*/
@media only screen and (max-width: 620px) {
	#article-properties {
		& > .fluid-grid {
			@include clear-column();
		}

		.equalheight-grid {
			.grid-inner {
				min-height: 0 !important;
			}
		}
	}

	#article-properties-data dl {
		padding: 0;
	}

	#article-properties-tobasket {
		position: relative;
	}
}

/* width 520px
----------------------------------------------------------------------------------------*/
@media only screen and (max-width: 520px) {
	#{$h1} {
		font-size: 25px;
	}

	.grid-break-smartphone, .fluid-grid {
		@include clear-column();

		&.equalheight-grid {
			.grid-inner {
				min-height: 0 !important;
			}
		}
	}

	#header {
		margin: 0;
		padding: 5px 0;
		background: $pink;
	}

	#headmenu {
		display: none;
	}

	#logo a {
		display: block;
	}

	#mainmenu {
		& {
			padding: 5px 0 0 0;
		}

		li {
			float: none;
			margin: 0;
			border: 0;
			border-bottom: 1px solid $grey-lighter;
		}

		a, li:first-child a {
			padding: 12px 10px;
		}

		li:last-child {
			border: 0;
		}
	}

	#basket {
		& {
			top: 5px; right: 55px;
			width: 51px;
		}

		#basket-trigger {
			background-position: 11px 14px;
		}

		#basket-status-products {
			position: absolute;
			bottom: 1px; right: 1px;
			width: 12px;
			line-height: 12px;
			display: inline-block;
			background: $white;
			color: $pink;
			text-align: center;
		}

		#basket-title, #basket-status-price, #basket-status-products-label {
			display: none;
		}
	}

	#body {
		padding: 0 0 35px 0;
	}

	#body-header, .widescreen #body-header {
		& {
			padding: 30px 0 0 0;
		}

		#{$h1} {
			margin: 15px 0 10px 0;
		}
	}

	#body-sidebar {
		margin: 25px -15px 0 -15px;
	}

	#breadcrumb {
		#breadcrumb-title {
			display: none;
		}

		ul {
			float: none;
			margin: 0 0;
		}

		li {
			margin: 0 5px 5px 0;
			padding: 0 14px 0 0;
		}
	}

	.article-grid-outer {
		padding: 0;
		background: none;
	}

	#article-properties-image-selection {
		& {
			padding: 0;
		}

		ul {
			text-align: center;
		}

		li {
			display: inline-block;
		}
	}

	#checkout-steps {
		& {
			margin: 0 0 35px 0;
		}

		ul {
			text-align: center;
		}

		li {
			display: inline-block;
			width: auto;
			float: none;
		}

		dfn {
			display: none;
		}

		.identifier {
			width: 32px;
			line-height: 32px;
		}
	}

	.fluid-grid.user-addresses-grid, #checkout-payment, #checkout-summary {
		margin: 0 -10px;
	}

	#checkout-payment .checkout-form-actions {
		margin: 25px 10px 0 10px;
	}

	#checkout-basket-summary table {
		width: auto;
	}
}

@media screen and (min-width: 520px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}