/* width 1060px
----------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1080px) {
	#page {
		width: auto;
		margin: 15px 10px;
		overflow: hidden;
	}

	#article-filter-material li.new-line {
		clear: none;
	}
}

/* width 980px
----------------------------------------------------------------------------------------*/
@media only screen and (max-width: 980px) {
	#{$h1}, #{$h2}, #{$h3} {
		@include hyphens();
	}

	#footer-sitemap a, #footer-sitemap span, #footer-sitemap strong {
		@include hyphens();
	}
}

/* width 768px
----------------------------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
	#page {
		margin: 0;
	}

	#headmenu {
		top: 0; right: 10px;
		font-size: 12px;
	}

	#logo a {
		float: none;
		display: inline-block;
	}

	#mainmenu {
		& {
			padding: 10px 0 0 10px;
		}

		li {
			&:first-child {
				& {
					margin-left: 0;
				}

				a {
					padding: 4px 8px 0 0;
				}
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	#basket {
		top: 40px; bottom: auto;
	}

	#body {
		margin: 0 10px;
	}

	#teaser {
		margin: 0 -10px 20px -10px;
	}

	.grid-break-tablet {
		@include clear-column();
	}

	#body-header {
		& {
			margin: 0 0 35px 0;
			padding: 0;
		}

		#body-header-inner {
			margin: 0;
		}
	}

	#body-sidebar, #body-inner {
		left: 0;
	  width: auto;
	  float: none;
	}

	#footer-container {
		& {
			padding: 15px;
		}

		.background {
			display: none;
		}

		#footer-sitemap {
			& {
				padding: 0;
			}

			li li a {
				font-size: 12px;
			}
		}

		#newsletter {
			padding: 0 0 15px 0;
		}

		#social-links {
			padding: 0;
		}
	}

	#footer-final {
		padding: 15px;
		font-size: 12px;
	}

	#frontpage-container {
		.background {
			display: none;
		}

		#article-frontpage-carousel .grid-inner {
			margin: 0;
		}

		#frontpage-faq .grid-inner {
			padding: 0;
		}
	}
}

/* width 520px
----------------------------------------------------------------------------------------*/
@media only screen and (max-width: 520px) {
	.grid-break-smartphone {
		@include clear-column();
	}
}